
.rounded {
    border: 2px solid #a1a1a1;
    padding: 10px 40px; 
    background: #dddddd;
    border-radius: 25px;
}
.imagetable {
  border: 2px solid #a1a1a1;
  padding 70px 70px;
  background: #ffffff;
  border-radius:25px;
}
.texttable {
  border: 2px solid #a1a1a1;
  padding 70px 70px;
  background: #ffffff;
  border-radius:25px;
}
